<template>
  <v-container>
    <v-row v-if="error">
      <v-col xs="12" sm="6" offset-sm="3">
        <app-alert @dismissed="onDismissed"
        :text="error.message"></app-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col xs="12" sm="6" offset-sm="3">
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignin">
                <v-row>
                 <v-col xs="12">
                  <v-text-field
                  outlined
                  dense
                  name="email"
                  label="Mail"
                  id="email"
                  type="email"
                  v-model="email"
                  required>
                  </v-text-field>
                 </v-col>
                </v-row>
                <v-row>
                 <v-col xs="12">
                   <v-text-field
                    outlined
                    dense
                    name="password"
                    label="Password"
                    id="password"
                    :type="showPass ? 'text' :'password'"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPass = !showPass"
                    v-model="password"
                    required></v-text-field>
                 </v-col>
               </v-row>
               <v-row>
                <v-col xs="12">
                 <v-btn
                 color="success"
                 type="submit"
                 :disabled="loading" :loading="loading">
                 Sign in
                 </v-btn>
                </v-col>
               </v-row>
             </form>
            </v-container>
           </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      showPass: false
    }
  },
  computed:{
  user () {
    return this.$store.state.user.user
  },
  error () {
    return this.$store.state.share.error
  },
  loading () {
    return this.$store.state.share.loading
  }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    onSignin () {
      // vuex
      this.$store.dispatch('signUserIn',
       {email: this.email, password: this.password})
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
   }
}
</script>
