<template>
  <v-container>
    <v-row v-if="error">
      <v-col xs="12" sm="6" offset-sm="3">
        <app-alert @dismissed="onDismissed"
        :text="error.message"></app-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col xs="12" sm="6" offset-sm="3">
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignup">
                <v-row>
                    <v-col xs="12">
                        <v-text-field
                        outlined
                        dense
                        name="neme"
                        label="Name"
                        id="name"
                        type="text"
                        :rules="[rules.required]"
                        v-model="name"
                        required>
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                 <v-col xs="12">
                  <v-text-field
                  outlined
                  dense
                  name="email"
                  label="Email"
                  id="email"
                  type="email"
                  :rules="[rules.required, rules.email ]"
                  v-model="email"
                  required>
                  </v-text-field>
                 </v-col>
                </v-row>
                <v-row>
                 <v-col xs="12">
                   <v-text-field
                    outlined
                    dense
                    name="password"
                    label="Password"
                    id="password"
                    :type="showPass ? 'text' :'password'"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPass = !showPass"
                    hint="At least 6 characters"
                    :rules="[rules.required, rules.min]"
                    v-model="password"
                    counter></v-text-field>
                 </v-col>
               </v-row>
               <v-row>
                 <v-col xs="12">
                  <v-text-field
                  outlined
                  dense
                  name="confirmPassword"
                  label="Confirm Password"
                  id="confirmPassword"
                  :type="showPass ? 'text' :'password'"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPass = !showPass"
                  v-model="confirmPassword"
                  :rules="[comparePassword]"></v-text-field>
                </v-col>
               </v-row>
               <v-row>
              <v-col xs="12">
                <v-checkbox
                  v-model="checkbox"
                  :rules="[v => !!v || 'You must agree to continue!']"
                  label="Do you agree?"
                  required
                ></v-checkbox>
              </v-col>
            </v-row>
               <v-row>
                <v-col xs="12">
                 <v-btn
                 color="success"
                 type="submit"
                 :disabled="loading" :loading="loading">
                 Sign up
                 </v-btn>
                </v-col>
               </v-row>
             </form>
            </v-container>
           </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      name: '',
      email: '',
      password: '',
      confirmPassword: '',
      showPass: false,
      checkbox: false,
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
        min: v => v.length >= 6 || 'it\'s less than 6 characters'
      }
    }
  },
  computed: {
    comparePassword () {
      return this.password !== this.confirmPassword ?
       'Passwords do not match' : ''
    },
    user () {
      return this.$store.state.user.user
    },
    error () {
      return this.$store.state.share.error
    },
    loading () {
      return this.$store.state.share.loading
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }

  },
  methods: {
    onSignup () {
      // vuex
      this.$store.dispatch('signUserUp', {
       email: this.email,
       password: this.password,
       name: this.name})
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
  } 
      
    }
</script>
