<template>
  <v-container fluid>
    <v-row  justify="center">
      <v-col xs="12" sm="6" md="3">
        <v-btn block
        color="blue-grey"
        class="mr-4 pa-6 white--text"
         larg router to="/newspage" 
         >Explore  News</v-btn>
      </v-col>
      <v-col xs="12" sm="6" md="3" v-if="userIsAdmin">
        <v-btn block
        color="blue-grey"
        class="mr-4 pa-6 white--text"
        larg router to="/newspage/new" 
        >Organize News</v-btn >
      </v-col>
    </v-row>
    <v-row>
      <v-col xs="12" class="text-center"> 
        <v-progress-circular
        indeterminate
        color="#286084"
        :width="7"
        :size="70"
        v-if="loading"></v-progress-circular>
      </v-col>
    </v-row>
    <v-container>
    <v-row  
      class="mt-2" v-if="!loading">
      <v-col xs12>
        <v-carousel style="cursor: pointer;">
          <v-carousel-item
          v-for="newsitem in newsItems"
          :src="newsitem.imageUrl"
          :key="newsitem.id"
          @click="onLoadNews(newsitem.id)">
          <div class="title">
            {{newsitem.title}}</div>
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
    <v-row class="mt-2" >
      <v-col xs="12" class="text-center">
        <p>See the newest news around you!</p>
        <h1> welcome to News Bootfi website</h1>
      </v-col>
    </v-row>
    </v-container>
  </v-container>
</template>

<script>
export default {
  computed: {
    newsItems () {
      return this.$store.state.newsItem.loadedNewsItems
    },
    user () {
      return this.$store.state.user.user
    },
    loading () {
      return this.$store.state.share.loading
    },
    userIsAdmin () {
      // return this.user.type === 'admin'
      return false
    }
  },
  methods: {
    onLoadNews (id) {
      this.$router.push('/newspage/' + id)
    }
  }
}
</script>

<style scoped>
.title{
  position: absolute;
  bottom: 50px;
  background-color:#6766667d;
  color:white;
  font-size: 2em;
  padding: 20px;
}

</style>
