<template>
  <v-container fluid>
    <v-row  justify="left" v-if="userIsAdmin">
      <v-col xs="6" sm="4" md="3">
        <v-btn block
        color="blue-grey"
        class="mr-4 pa-6 white--text"
        larg router to="/newspage/new" 
        >Create New</v-btn >
      </v-col>
    </v-row>
    <v-row
      v-for="newsItem in newsItems" 
      :key="newsItem.id" class="mb-2">
      <v-col xs="12" sm="10" md="8" offset-sm="1" offset-md="2">
          <v-card color="#35506145"
            class="black--text"
            dark>
            <v-container>
            <v-row>
              <v-col xs="6" sm="4" md="3">
                <v-img
                :src="newsItem.imageUrl"
                height="130px"
                >
                </v-img>
              </v-col>
              <v-col xs="7" sm="8" md="9">
              <v-card-title primary-title>
                <div>
                  <h3 class="mb-0">{{newsItem.title}}</h3>
                </div>
                <!-- for edit & delete -->
                <v-spacer></v-spacer>
                <v-card-actions v-if="userIsAdmin">
                  <btn-editing
                  :newsItem="newsItem">
                  </btn-editing>
                </v-card-actions>
              </v-card-title>
              <v-card-subtitle>
                by: {{newsItem.auther}}
                <div>{{newsItem.date}}</div>
              </v-card-subtitle>
              <v-card-text>
                <div>{{newsItem.description}}</div>
              </v-card-text>
              <v-card-actions class="text-center">
                <v-btn 
                 color="error"
                 :to="'/newspage/' + newsItem.id">
                 <v-icon left light>mdi-pencil</v-icon>
                Deitals</v-btn>
                </v-card-actions>
              </v-col>
            </v-row>
            </v-container>
          </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  created () {
    this.$store.dispatch('loadNewsItems')
  },
  computed: {
    newsItems () {
      return this.$store.state.newsItem.loadedNewsItems
    },
    user () {
      return this.$store.state.user.user
    },
    userIsAdmin () {
      let userIsAdmin = false
      if (this.user) {
        userIsAdmin = this.user.type === 'admin'
      }
      return userIsAdmin
    }
  }
}
</script>

