<template>
    <nav>
        <!-- main toolbar -->
        <v-toolbar flat dark color="#355061">
            <v-app-bar-nav-icon 
            class="grey--text d-flex d-sm-none" 
            @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title class="text-uppercase grey--text">
                <v-tab
                to="/" tag="span"
                style="cursor: pointer;">
                <span class="font-weight-light">News</span>
                <span>Bootfi</span></v-tab>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-switch v-model="$vuetify.theme.dark"
                hide-details inset>
            </v-switch>
            <v-toolbar-items class="d-none d-sm-flex">
                <!-- news page -->
                <v-btn text
                    :to="newsPage.link">
                    <v-icon left dark>{{ newsPage.icon }}</v-icon>
                    {{ newsPage.title }}
                </v-btn>
            </v-toolbar-items>
            <!-- Register -->
            <div v-if=" !userIsAuthenticated">
            <v-toolbar-items class="d-none d-sm-flex">
                
                <v-menu top  transition="slide-y-transition">
                        <template v-slot:activator="{ on }">
                            <v-btn text 
                            v-on="on">
                            <v-icon left dark>mdi-account-multiple</v-icon>
                            Register</v-btn>
                        </template>
                        <v-list>
                            
                        <v-list-item
                            v-for="registerItem in registerItems"
                            :key="registerItem.title"
                            :to="registerItem.link">
                            <v-list-item-icon>
                                    <v-icon>{{registerItem.icon}}</v-icon>  
                            </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{registerItem.title}}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                            
                            <!-- <v-list-item>
                                <v-btn text
                                    v-if="userIsAuthenticated"
                                    @click="onLogout">
                                        <v-icon left dar>mdi-export</v-icon>
                                    Logout
                                    </v-btn>
                            </v-list-item> -->
                </v-list>
                   </v-menu>
            </v-toolbar-items>
            </div>
            <v-toolbar-items class="d-none d-sm-flex">
                <v-btn text
                v-if="userIsAuthenticated"
                @click="onLogout">
                    <v-icon left dar>mdi-export</v-icon>
                Logout
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <!-- navigation side bar toolbar -->
        <v-card>
        <v-navigation-drawer app
        v-model="drawer">
            <v-list>
                <v-list-item 
                  :to="newsPage.link">
                    <v-list-item-icon>
                        <v-icon>{{newsPage.icon}}</v-icon>  
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{newsPage.title}}
                        </v-list-item-title>
                    </v-list-item-content>
                    
                </v-list-item>
                <v-list-item
                            v-for="registerItem in registerItems"
                            :key="registerItem.title"
                            :to="registerItem.link">
                            <v-list-item-icon>
                                    <v-icon>{{registerItem.icon}}</v-icon>  
                            </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{registerItem.title}}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                   <v-list-item
                                v-if="userIsAuthenticated"
                                @click="onLogout">
                                    <v-list-item-icon>
                                        <v-icon>mdi-export</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        Logout
                                    </v-list-item-content>
                                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        </v-card>
    </nav>
</template>

<script>
import { mdiLoginVariant } from '@mdi/js'
export default {
    data () {
        return {
            newsPage: {icon: 'mdi-message-text', title: 'VIEW NEWS', link: '/newspage'},
            drawer: false
      }
    },
    computed: {
       registerItems () {
           let registerItems = [
            { icon: 'mdi-account-multiple', title: 'SIGN UP', link: '/signup' },
            { icon: mdiLoginVariant, title: 'SIGN IN', link: '/signin' }
           ]
           if (this.userIsAuthenticated) {
               registerItems = null
           }
           return registerItems
       },
        userIsAuthenticated () {
            return this.$store.state.user.user !== null && 
            this.$store.state.user.user !== undefined
        }
    },
    methods: {
        onLogout () {
            this.$store.dispatch('logout')
        }
        
    }
}
</script>