<template>
    <div>
        <v-btn  icon 
         @click="deleteItem">
            <v-icon>mdi-delete</v-icon>
        </v-btn>
        <router-link style="text-decoration: none"
        :to="{ name: 'CreateNewsItem', params: {newsItem} }">
            <v-btn  icon>
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
        </router-link>
    </div>
</template>
<script>
export default {
  props: ['newsItem'],
  methods: {
    deleteItem () {
     this.$store.dispatch('deleteNewsItem', this.newsItem) 
    }
  }
}
</script>
