<template>
  <v-container>
    <v-row>
      <v-col xs="12">
        <v-container>
          <v-row>
           <v-col xs="12" sm="6" offset-sm="3">
            <h4 class="primary--text">Create a new NewsItem</h4>
           </v-col>
          </v-row>
          <form>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <v-text-field
                  outlined
                  dense
                  name="title"
                  label="Title"
                  id="title"
                  v-model="editNewsItem.title"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <v-text-field
                  outlined
                  dense
                  name="auther"
                  label="Auther"
                  id="auther"
                  v-model="editNewsItem.auther"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <v-select
                  outlined
                  dense
                  name="category"
                  label="select Category"
                  :items="categories"
                  id="category"
                  v-model="editNewsItem.category"
                  required
                >
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <!-- image -->
                <v-text-field
                  outlined
                  dense
                  clearable
                  name="imageUrl"
                  label="ImageUrl"
                  id="imageUrl"
                  v-model="editNewsItem.imageUrl"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <img :src="editNewsItem.imageUrl" height="180px" />
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <v-textarea
                 outlined
                 dense
                  name="description"
                  label="Description"
                  id="description"
                  v-model="editNewsItem.description"
                  multi-line
                  required
                >
                </v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <v-menu
                  v-model="dateMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      outlined
                      dense
                      v-model="editNewsItem.date"
                      label="Select Date"
                      prepend-inner-icon="mdi-pencil"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="editNewsItem.date" 
                  @input="dateMenu = false">
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col xs="12" sm="6" offset-sm="3">
                <!-- Create btn -->
                <v-btn v-if="!editingBtn"
                @click="onCreateNewsItem"
                class="secondary" 
                :disabled="!formIsValid"
                :loading="loading">
                Create newsItem</v-btn>
                <!-- Editing btn -->
                <v-btn v-if="editingBtn"
                @click="onEditNewsItem"
                class="secondary" 
                :disabled="!formIsValid"
                :loading="loading" 
                >
                Edit newsItem</v-btn>
                <v-btn v-if="editingBtn"
                @click="onCanselEditing"
                class="secondary-4 ml-6" 
                :loading="loading" 
                >
                Cansel</v-btn>
              </v-col>
            </v-row>
          </form>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props:['newsItem'],
  data() {
    return {
      editNewsItem:{
        title: '',
        category: '',
        auther: '',
        imageUrl: '',
        description: '',
        date: new Date().toISOString().substr(0, 10)
      },
      dateMenu: false ,
      editingBtn:false,
      categories: ['Tech', 'Sports', 'Politics', 'economy']
    }
  },
  created () {
    if (this.newsItem) {
      this.editNewsItem = {...this.newsItem}
      this.editingBtn = true
    } else {
      this.editNewsItem.title = '',
      this.editNewsItem.category = '',
      this.editNewsItem.imageUrl = '',
      this.editNewsItem.description = '',
      this.editNewsItem.date = new Date().toISOString().substr(0, 10)
    } 
  },
  computed: {
    formIsValid () {
      return this.editNewsItem.title !== '' &&
      this.editNewsItem.category !== '' &&
      this.editNewsItem.description !== '' &&
      this.editNewsItem.auther !== '' &&
      this.editNewsItem.imageUrl !== ''
    }, 
    loading () {
      return this.$store.state.share.loading
    },
    user () {
      return this.$store.state.user.user
    }
  },
  methods: {
    onCreateNewsItem () {
      if (!this.formIsValid) {
        return
      }
      this.$store.dispatch('createNewsItem', this.editNewsItem)
    },
    onEditNewsItem () {
      this.editingBtn = false
      if (!this.formIsValid) {
        return
      } 
      this.$store.dispatch('updateNewsItem', this.editNewsItem)
    },
    onCanselEditing () {
      this.editingBtn = false
      this.editNewsItem = this.newsItem
      this.$router.push('/newspage/' + this.editNewsItem.id)
    }
      
    }
}
</script>
