<template>
  <v-container root>
    <v-row >
      <v-col xs="12" >
        <v-card> 
          <v-card-title>
            <h3 class="primary--text">{{newsItem.title}}</h3>
            <v-spacer></v-spacer>
            <v-card-actions v-if="userIsAdmin">
             <btn-editing
             :newsItem="newsItem">
             </btn-editing>
            </v-card-actions>
          </v-card-title>
          <v-img
            :src="newsItem.imageUrl"
            height="400px">
          </v-img>
          <v-card-subtitle>
            <div> {{newsItem.date}} | {{newsItem.category}}</div>
            <div> by: {{newsItem.auther}}</div>
          </v-card-subtitle>
          <v-card-text>
            <div class="secondary--text">
              {{newsItem.description}}</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    newsItem () {
      return this.$store.state.newsItem.loadedNewsItems.find(item => 
      {return item.id === this.id})
    },
    user () {
      return this.$store.state.user.user
    },
    userIsAdmin () {
      let userIsAdmin = false
      if (this.user) {
        userIsAdmin = this.user.type === 'admin'
      }
      return userIsAdmin
    }
  }
}
</script>

